language: java
script: ant jars
before_script:
  # Ant build tool configuration
  - cp build.properties.sample build.properties
  - mkdir ./JMetadata/classes
  - sed -i -e "s,jars_dest =,jars_dest =./," build.properties

env:
  global:
    - classes=JMetadata/classes
    - jars_dest=./
jdk:
  - oraclejdk8